<md-whiteframe class="md-whiteframe-z1" ng-repeat="item in list.items" layout layout-align="center center">
  <div class="md-tile-content">
    <h4>{{item.PageAuthor}}</h4>
    <p md-highlight-text="ctrl.searchText">
      {{item.Abstract}}
    </p>
  </div>
</md-whiteframe>

<pagination total-items="list.totalItems"
            ng-model="list.currentPage"
            max-size="list.maxSize"
            boundary-links="true"
            ng-change="list.pageChanged()">
</pagination>
