<md-input-container>
  <label>Title</label>
  <input ng-model="user.address">
</md-input-container>
<md-content>
  <md-list style="height: 200px;" as-sortable class="drop-list" ng-model="pageEdit.dropItems"
           id="drop-container" layout>
    <md-list-item as-sortable-item
                  ng-repeat="item in pageEdit.dropItems" ng-style="{'background': item.color}">
      <div as-sortable-item-handle></div>
    </md-list-item>
  </md-list>
</md-content>
<div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around"
     ta-html-editor-class="border-around"></div>
<div  layout-wrap class="tags-autocomplate" ng-controller="TagsCtrl as tags">
  <md-content>
    <md-chips ng-model="tags.$storage.selectedTags" md-autocomplete-snap md-require-match
              md-on-append="tags.newTag($chip)" ng-model="tags.newTag">
      <md-autocomplete
        md-selected-item="tags.selectedItem"
        md-search-text="tags.searchText"
        md-items="item in tags.querySearch(tags.searchText)"
        md-item-text="item.display"
        placeholder="Add tags"
        secondary-placeholder="Add tags">
        <span md-highlight-text="tags.searchText">{{item.display}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.display}}</strong>
        </span>
      </md-chip-template>
    </md-chips>
  </md-content>
</div>
<div class="related-stuff-header">
  <h2>Releated stuff</h2>
</div>
<div class="related-stuff" layout="row">
  <md-card flex>
    <img ph-img="230x160">
    <md-card-content>
      <h4>Lorem impus</h4>
      <p ph-txt="2s"></p>
    </md-card-content>
  </md-card>
  <md-card flex>
    <img ph-img="230x160">
    <md-card-content>
      <h4>Sollicitudin</h4>
      <p ph-txt="2s"></p>
    </md-card-content>
  </md-card>
  <md-card flex>
    <img ph-img="230x160">
    <md-card-content>
      <h4>Aenean</h4>
      <p ph-txt="2s"></p>
    </md-card-content>
  </md-card>
</div>
<div class="page-action-bar" layout="row" layout-align="center center">
  <md-button class="md-fab ">
    <md-icon md-svg-src="pageview"></md-icon>
    <md-tooltip md-direction="top">
      Preview
    </md-tooltip>
  </md-button>
  <md-button class="md-fab md-primary" ng-click="pageEdit.publish()">
    <md-icon md-svg-src="save" ></md-icon>
    <md-tooltip md-direction="top">
      Publish
    </md-tooltip>
  </md-button>
</div>
