@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height:100%;
  margin: 0px;
  padding: 0px;

}
body {
}
body.navbar-open {
  overflow: hidden;
}
md-toolbar {
  min-height: 48px;
}
md-toolbar .placeholder {
  flex-grow: 1;
}

#main-container {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 500px;
}

.page-action-bar {
  position: fixed;
  right: 20px;
  bottom: 20px;
  .md-button {
    margin: 10px;
  }
}

  .tag-remove,
  .tag-text {
    display: inline-block;
  }
  .tag-text {
    padding-right: 10px;
    color: #969696;
  }
  .tag-remove {
    background-color: #ccc;
    cursor: pointer;
    line-height: 40px;
    md-icon {
      fill: #444;
    }
  }

.tag-item {
  overflow: hidden;
  background-color: #E7E7E7;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.tags-autocomplate {
  margin-top: 20px;
  md-chips {
    display: block;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    padding: 0 0 0.8rem 0;
    vertical-align: middle;
    cursor: text;
    md-chip {
      cursor: default;
      border-radius: 1.6rem;
      display: block;
      height: 3.2rem;
      line-height: 3.2rem;
      margin: 0.8rem 0.8rem 0 0;
      padding: 0 0.8rem 0 1.2rem;
      float: left;
    }
  }
}
#aside {
  padding-left: 20px;
  md-whiteframe {
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.attachments-header {
  margin-top: 0;
}
.attachments-content {
  padding: 12px;
  border: 1px dashed #ccc;
}

.ta-toolbar {
  background-color: #F0F0F0;
  padding: 10px 10px 5px;
  margin-left: 0px;
  border: 1px solid #EEE;
}
.ta-editor, .white-box {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #EEE;
}
.related-stuff {
  md-card:first-child{
    margin-left: 0;
  }
  md-card:last-child {
    margin-right: 0;
  }
}
#main-sidenav {
  md-item .md-button {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  md-item md-icon {
    margin-right: 10px;
  }
}
md-whiteframe + md-whiteframe {
  margin-top: 20px;
}
.pagination a {
  outline: none;
}

#search-sidenav {
  width: 454px;
  max-width: 454px;
  mnin-width: 454px;

  md-content {
    padding: 10px;
  }
  md-list-item {
    display: block;
    margin: 15px 0;
  }
  md-list-item h4 {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.2em;
  }
  md-list-item p {
    line-height: 1.1;
  }
}

md-toolbar .md-icon-button.md-button {
  md-icon {
    fill: #fff;
  }
}
.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.as-sortable-hidden {
  display: none !important;
}

.drag-list
{
  md-list-item {
    margin: 10px 0;
    height: 50px;
    padding: 0;
    div {
      height: 100%;
      width: 100%;
    }
  }
}
.dndDraggingSource {
  display: none;
}
.drop-list {
  md-list-item {
    width: 158px;
    div {
      height: 150px;
      width: 100%;
    }
  }
}
// injector
// endinjector
