<!doctype html>
<html class="no-js" ng-app="pocUi">
  <head>
    <meta charset="utf-8">
    <title>pocUi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->

  </head>
  <body layout="column" ng-controller="AppCtrl as app"
        ng-class="{'navbar-open': app.$mdSidenav('sidenav-right').isOpen()}" ng-cloak>

  <md-toolbar layout="row" ng-controller="NavbarCtrl as navbar">
    <md-button class="md-icon-button menu"  ng-click="navbar.togggleSlidenav()" aria-label="Show User List">
      <md-icon md-svg-icon="menu1" ></md-icon>
    </md-button>
    <div class="placeholder">
    </div>
    <md-button class="md-icon-button " aria-label="Show search input" ng-click="navbar.toggleSearch()">
      <md-icon md-svg-src="search"></md-icon>
    </md-button>
    <md-button class="md-icon-button person" aria-label="Show account settings">
      <md-icon md-svg-src="person"></md-icon>
    </md-button>
  </md-toolbar>

  <md-sidenav class="md-sidenav-left" md-component-id="sidenav">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Navbar</h1>
    </md-toolbar>
    <md-content ng-controller="SidenavCtrl as sidenav" id="main-sidenav">
      <md-list>
        <md-item>
          <md-button ng-click="sidenav.navigate('edit')">
            <md-icon md-svg-src="edit"></md-icon>
            Edit page
          </md-button>
        </md-item>
        <md-item>
          <md-button ng-click="sidenav.navigate('list')">
            <md-icon md-svg-src="viewlist"></md-icon>
            News list
          </md-button>
        </md-item>
        <md-item>
          <md-button ng-click="sidenav.navigate('search')">
            <md-icon md-svg-src="search"></md-icon>
              Search
          </md-button>
        </md-item>
      </md-list>
      <md-button ng-click="sidenav.toggleRight()" class="md-primary">
        Close Sidenav
      </md-button>
    </md-content>
  </md-sidenav>

  <md-sidenav id="search-sidenav" class="md-sidenav-right" md-component-id="sidenav-right" >
    <md-content ng-controller="SearchCtrl as search">
      <md-autocomplete
        md-no-cache="search.noCache"
        md-search-text="search.searchText"
        md-items="item in search.querySearch(search.searchText)"
        md-item-text="item.display"
        md-min-length="3"
        placeholder="Search...">
        <span md-highlight-text="search.searchText">{{item.display}}</span>
      </md-autocomplete>

      <md-list>
        <md-list-item ng-repeat="item in search.items">
          <h4>
            {{item._source.contentpage.headline}}
          </h4>
          <p class="md-body-2">
            <span ng-bind-html="item._source.contentpage.leadtext | htmlToPlaintext">

            </span><br>
            <a style="cursor: pointer" ng-click="search.searchText='like:'+item._id">more like this</a>
          </p>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
      <h5 class="no-results"
          ng-show="search.request == null && search.items.length == 0 && search.searchText.length > 3">
        No results.
      </h5>
    </md-content>
  </md-sidenav>

  <div id="main-container">
    <div layout="row" >
      <div flex="75" ng-viewport="main">
      </div>
      <div flex="25" id="aside" ng-viewport="aside">
      </div>
    </div>
  </div>


  <script id="template/pagination/pagination.html" type="text/ng-template">
    <ul class="pagination">
      <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href="javascript:void(0)" ng-click="selectPage(1)">{{getText('first')}}</a></li>
      <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href="javascript:void(0)" ng-click="selectPage(page - 1)">{{getText('previous')}}</a></li>
      <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href="javascript:void(0)" ng-click="selectPage(page.number)">{{page.text}}</a></li>
      <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href="javascript:void(0)" ng-click="selectPage(page + 1)">{{getText('next')}}</a></li>
      <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href="javascript:void(0)" ng-click="selectPage(totalPages)">{{getText('last')}}</a></li>
    </ul>
  </script>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
