<md-whiteframe class="md-whiteframe-z1" layout="column">
  <md-list class="md-3-line drag-list"
           as-sortable ng-model="pageEditAside.items">
    <md-list-item as-sortable-item ng-repeat="item in pageEditAside.items" ng-style="{'background': item.color}">
      <div as-sortable-item-handle>
     </div>
    </md-list-item>
  </md-list>


</md-whiteframe>
<md-whiteframe class="md-whiteframe-z1" ng-controller="ContactsCtrl as contacts" layout="column">
  <h4 class="attachments-header">Contacts</h4>
  <md-list layout="column">
    <md-item ng-repeat="c in contacts.items" layout="row">
      <md-item-content>
        <div class="md-tile-left ">
          <img ph-img="40x40" class="img-circle">
        </div>
        <div class="md-tile-content">
          <h3>{{c.name}}</h3>
          <p>
            {{c.address}}
          </p>
        </div>
      </md-item-content>
    </md-item>
  </md-list>
</md-whiteframe>
